h1 {
    text-align: center;
}
body {
    background-color: rgb(229, 246, 246);
}
a {
    color: blueviolet;
}
a:hover {
    background-color: rgba(255, 255, 0, 0.773);
}

nav {
    text-align: center;
    
}
a:visited {
    color: black;
}
table,tr,td,th {
    border: 1px solid rgb(22, 21, 21);
    border-collapse: collapse;
    padding: 0.5rem;
}
#hrprincipal {
    height: 1em;
    background-color: rgb(30, 255, 0);
    width: 20em;
    align-content: left;
}
